<%= if @current_user do %>
  <%= if @instrument do %>
    <%= live_component @socket, EnsembleMemberComponent, current_user: @current_user, instrument: @instrument %>
  <% else %>
    <%= live_component @socket, JoinEnsembleComponent, current_user: @current_user %>
  <% end %>

  <%= live_component @socket, CurrentEnsembleComponent, ensemble: @ensemble %>

<% else %>
  <%= link "Log in", to: Routes.user_session_path(@socket, :new) %> to join the ensemble.
<% end %>
